<html>
<head>

</head>
<body>
    <div style="width:1024px;margin:0 auto;">
        <canvas width="1280" height="720" id="canvas" style="border:1px solid black"></canvas>
    </div>

    <script src="~/js/scripts.js"></script>
</body>
</html>